[run]
omit =
    */tests*
    */__init__.py
source = biom
branch = True
include = */skbio/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    */tests*
    */__init__.py
