# Modified from https://github.com/biocore/scikit-bio/
language: python
env:
  - PYTHON_VERSION=2.7 USE_H5PY=True
  - PYTHON_VERSION=2.7 USE_CYTHON=True
  - PYTHON_VERSION=3.4 USE_H5PY=True
  - PYTHON_VERSION=3.4 USE_CYTHON=True
  - PYTHON_VERSION=3.5 USE_H5PY=True
  - PYTHON_VERSION=3.5 USE_CYTHON=True
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda3-3.7.3-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda3/bin:$PATH
  # Update conda itself
  - conda update --yes conda
install:
  - conda create --yes -n env_name python=$PYTHON_VERSION pip numpy scipy nose pep8 flake8 coverage future
  - if [ ${USE_CYTHON} ]; then conda install --yes -n env_name cython; fi
  - if [ ${USE_H5PY} ]; then conda install --yes -n env_name h5py>=2.2.0; fi
  - if [ ${PYTHON_VERSION} = "2.7" ]; then conda install --yes -n env_name Sphinx=1.2.2; fi
  - source activate env_name
  - pip install coveralls pyqi
  - pip install -e . --no-deps
script:
  - nosetests --with-doctest --with-coverage
  - flake8 biom setup.py scripts
  - biom show-install-info
  - if [ ${PYTHON_VERSION} = "2.7" ]; then make -C doc html; fi
  # we can only validate the tables if we have H5PY
  - if [ ${USE_H5PY} ]; then for table in examples/*hdf5.biom; do echo ${table}; biom validate-table -i ${table}; done; fi
  # validate JSON formatted tables
  - for table in examples/*table.biom; do echo ${table}; biom validate-table -i ${table}; done;
after_success:
  - coveralls
