include README.md
include COPYING.txt
include ChangeLog.md

graft biom
graft support_files
graft examples
graft scripts
graft doc

prune docs/_build

global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
