export(read_biom)
export(write_biom)
exportClasses(biom)
exportMethods(biom_data)
exportMethods(biom_shape)
exportMethods(biom)
exportMethods(colnames)
exportMethods(header)
exportMethods(matrix_element_type)
exportMethods(ncol)
exportMethods(nrow)
exportMethods(observation_metadata)
exportMethods(rownames)
exportMethods(sample_metadata)
exportMethods(show)
import(Matrix)
importFrom(plyr,d_ply)
importFrom(plyr,laply)
importFrom(plyr,ldply)
importFrom(plyr,llply)
importFrom(RJSONIO,fromJSON)
importFrom(RJSONIO,toJSON)
