export(abundance)
export(biom)
export(header)
export(read_biom)
export(sampleData)
export(taxonomy)
export(tree)
exportClasses(biom)
exportClasses(phylo)
exportMethods(show)
import(ape)
import(Matrix)
importFrom(plyr,laply)
importFrom(plyr,ldply)
importFrom(RJSONIO,fromJSON)
