export(biom)
export(biomclass)
export(biomshape)
export(header)
export(observ_meta)
export(read_biom)
export(sample_meta)
export(write_biom)
exportClasses(biom)
exportMethods(biom_table)
exportMethods(show)
import(Matrix)
importFrom(plyr,d_ply)
importFrom(plyr,laply)
importFrom(plyr,ldply)
importFrom(RJSONIO,fromJSON)
importFrom(RJSONIO,toJSON)
