name: Release

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Build distribution
        run: |
          # set version from '${{ github.ref_name }}'
          export RELEASE_VERSION=${{ github.ref_name }}
          pip install numpy cython
          python setup.py sdist

  # adapted from 
  # https://github.com/biopython/biopython/blob/master/.github/workflows/ci.yml
  build_wheels:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python packaging tools
        run: |
          export RELEASE_VERSION=${{ github.ref_name }}
          python -m pip install --upgrade pip setuptools wheel

      - name: Build wheels
        run: |
          python setup.py bdist_wheel

  release:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:
      - name: Publish a Python distribution to PyPI
        if: github.event_name == 'push-DONOTEXECUTE' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
